:root {
    --Color1: #780000;
    --Color2: #c1121f;
    --Color3: #fdf0d5;
    --Color4: #003049;
    --Color5: #669bbc;
    --Padding1: 10px;
    --nav-height: 65px;
    /* Altura de la barra de navegación */
    --margen1: 10px;
    --font-family: "Google Sans Code", monospace;
    --sombras: -1px -1px 2px #000000;
}

@media (min-width: 1024px) {

    /* Estilos para laptops estándar */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;        
    }

    html {
        /* Habilita el desplazamiento suave para toda la página */
        scroll-behavior: smooth;
    }

    /* --- Estilo para el texto seleccionado --- */    
    ::selection {
        background-color: var(--Color2);        
        color: var(--Color3);        
    }

    /* Para compatibilidad con Firefox */
    ::-moz-selection {
        background-color: var(--Color2);
        color: var(--Color3);
    }

    body {
        font-family: var(--font-family);
        width: 100%;
        background-color: white;        
    }

    .btnPrimario {
        font-family: var(--font-family);
        padding: var(--Padding1);
        border-radius: 50px;
        border: 1px solid var(--Color1);
        background-color: var(--Color3);
        color: var(--Color1);
        transition: 0.5s;
    }

    .btnPrimario:hover {
        border-color: var(--Color4);
        background-color: var(--Color4);
        color: var(--Color3);
        cursor: pointer;
    }

    .btnSecundario {
        font-family: var(--font-family);
        padding: var(--Padding1);
        border-radius: 50px;
        border: 1px solid var(--Color1);
        background-color: transparent;
        color: var(--Color1);
        transition: 0.5s;
        cursor: pointer;
    }

    .btnSecundario:hover {
        background-color: var(--Color1);
        color: var(--Color3);
    }

}