@media (min-width: 1025px) {
    header {
        padding: 20px 40px;
        background-color: var(--Color1);
        color: var(--Color3);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: calc(100vh - var(--nav-height));
    }

    #descripcionPerfil {
        width: 50%;
    }

    #nombrePerfil {
        margin: var(--margen1);
    }

    #encabezado {
        margin: var(--margen1);
    }

    #presentacion {
        margin: var(--margen1);
        text-shadow: var(--sombras);
    }

    #containerBtnPeril {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .btnPerfil {
        margin: var(--margen1);
        display: flex;
        border-radius: 50%;
        border-style: none;
        height: 40px;
        width: 40px;
        justify-content: center;
        align-items: center;
        overflow: hidden;        
        white-space: nowrap;                
        max-width: 40px;
        transition: max-width 0.4s ease-in-out, border-radius 0.4s ease-in-out;
        cursor: pointer;
        padding: 5px;
        gap: 5px;   
        color: var(--Color1);    
        font-weight: bold; 
    }

    .btnPerfil span{
        display: none;
    }

    .btnPerfil:hover {
        border-radius: 10px;
        width: auto;
        max-width: 200px;
        /* Permitimos que el botón crezca hasta este tamaño */
    }

    .btnPerfil:hover span{
        display: contents;
    }

    .imgBtnPeril {
        height: 25px;
        width: auto;
    }

    #fotoPerfil {
        /* Tamaño responsivo: Mínimo 200px, preferido 25% del ancho de la pantalla, máximo 350px */
        width: clamp(200px, 25vw, 400px);
        height: clamp(200px, 25vw, 400px);
        border-radius: 100%;
        object-fit: cover;
    }
}