:root{
    --Color1:#780000;
    --Color2:#c1121f;
    --Color3:#fdf0d5;
    --Color4:#003049;
    --Color5:#669bbc;
    --SizeFoto: 350px;
    --Padding1: 10px;
    --margen1: 10px;
    --font-family: "Google Sans Code", monospace;
}
*{
    margin: 0;
    padding: 0;
}
@media (min-width: 1024px) and (max-width: 1400px) {        
    body{
        font-family: var(--font-family);
    }
    nav{            
        height: fit-content;
        background-color: var(--Color1);
        display: flex;    
        align-items: center;
        padding: 1rem;    
        color: var(--Color3);
        padding-inline: 3em;  
        border-bottom: solid var(--Color3) 1px;
    }
    #logoNav{
        width: auto;
        height: 2em;
        cursor: pointer;
    }
    .enlaces{
        margin-right: auto;
        margin-left: auto;    
    }
    .navLink{
        padding-inline: 1rem;
        text-decoration: none;
        color: var(--Color3);
        transition: 0.5s;
    }
    .navLink:hover{
        border-radius: 20px;
        border-style: none;
        background-color: var(--Color3);
        color: var(--Color1);
    }
    .btnPrimario{
        font-family: var(--font-family);
       padding: var(--Padding1); 
       border-radius: 50px;
       border-style: none;
       background-color: var(--Color3);
       color: var(--Color1);
       transition: 0.5s;
    }
    .btnPrimario:hover{
        background-color: var(--Color4);
        color: var(--Color3);
        cursor: pointer;
    }
    header{
        padding: 20px;
        background-color: var(--Color1);
        color: var(--Color3);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #descripcionPerfil{
        width: 50%;
    }
    #nombrePerfil{
        margin: var(--margen1);
    }
    #encabezado{
        margin: var(--margen1);
    }
    #presentacion{
        margin: var(--margen1);
    }
    #containerBtnPeril{
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .btnPerfil{
        margin: var(--margen1);
        display: flex;
        border-radius: 50%;
        border-style: none;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: border-radius 1s;
        cursor: pointer;
    }
    .btnPerfil:hover{
        border-radius: 10px;
    }
    .imgBtnPeril{
        height: 25px;
        width: auto;
    }
    #fotoPerfil{
        width: var(--SizeFoto);
        height: var(--SizeFoto);
        border-radius: 100%;
    }    
    #seccion1{
        padding: 1cm;
    }
    #seccion2{
        background-color: var(--Color1);
        color: var(--Color3);
        padding: 1cm;
    }
    #seccion3{
        padding: 1cm;
    }
    footer{
        background-color: var(--Color5);
        color: var(--Color3);
        display: flex;
        justify-content: center;
        align-items: center;        
    }
    #logoFooter{
        width: 10em;      
        margin-right: var(--margen1);  
    }
}

/*Diseño interfaz celulares pequeños*/
/* @media (min-width: 350px) {
    nav{
        background-color: var(--Color1);
        height: fit-content;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: white;
    }
    #logoNav{
        height: 2rem;
    }
    
} */

/* Diseño para dispositivos grandes */
/* @media (){} */

/* Diseño para dispositivos extra grandes */
/* @media () {} */