#seccionHabilidades {
    padding: 1cm;
    text-align: center;
}

#proyectos {
    background-color: var(--Color1);
    color: var(--Color3);
    padding: 1cm;
    display: flex;
}

#seccion3 {
    padding: 1cm;
}

.containerHabilidades {
    width: 100%;
    padding: var(--Padding1);
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardHabilidad {
    max-width: 100%;
    max-height: 100%;
    width: clamp(70%, 2vw, 90%);        
    height: 40vh;
    border: solid var(--Color1) 1px;
    padding: var(--Padding1);
    overflow-y: auto;
    /* Ocultar scrollbar en Firefox */
    scrollbar-width: none;
}

/* Ocultar scrollbar en Chrome, Safari y Edge */
.cardHabilidad::-webkit-scrollbar {
    display: none;
}

.tarjetaTecnologias {
    background-color: var(--Color5);
}

footer {
    background-color: var(--Color5);
    color: var(--Color3);
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoFooter {
    width: 10em;
    margin-right: var(--margen1);
}

#subir{    
    size: clamp();
    left: 90vw;
    bottom: 5vh;
    position: sticky;
    border-style: none;
    border-radius: 50%;    
    background-color: var(--Color4);
}

/* } */

/*Diseño interfaz celulares pequeños*/
@media (max-width: 480px) {
  /* Estilos para celulares pequeños */
}
@media (min-width: 481px) and (max-width: 767px) {
  /* Estilos para celulares grandes o phablets */
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Estilos para tablets en modo vertical u horizontal */
}

@media (min-width: 1025px) and (max-width: 1440px) {
  /* Estilos para laptops estándar */
}
@media (min-width: 1441px) {
  /* Estilos para pantallas grandes o monitores externos */
}
